.container {
  padding: 2rem;
  ;
  margin: auto;
  margin-top: 1%;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

// Input box styling
textarea {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: none;
  height: 150px;
}

.textarea-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Form fields and buttons
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;

  .select-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    select {
      width: 100%; // Ensures the selects take equal width
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
      transition: border 0.3s ease;
    }
  }
}

// Button styling
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #004494;
  }
}
.labrador {
  font-weight: bold;
  display: block;
  word-wrap: break-word;
}

.poedel {
  color: #808080;
  font-size: 0.8em;
  display: block;
  word-wrap: break-word;
}

.parkiet {
  display: block;
  word-wrap: break-word;
}

.tjilp {
  font-style: italic;
}

@media (min-width: 768px) {
  .parkiet {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
  }
}

// Responsive design
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  .textarea-wrapper {
    flex-direction: column;
  }

  .select-wrapper {
    flex-direction: column;
  }

  button {
    font-size: 1rem;
  }
}

