<div class="container">
    <h1>Dierenvertaler</h1>

    <form (ngSubmit)="onSubmit()">
        <div class="textarea-wrapper">
            <div class="textarea-container">
                <p>Vertalen: </p>
                <textarea id="translateText" [(ngModel)]="translate" name="translateText" minlength="1" rows="4"
                    cols="50"></textarea>
            </div>
            <div class="textarea-container">
                <p>Vertaling:</p>
                <textarea id="translation" #translation class="parkiet" minlength="1" rows="4" cols="50" disabled></textarea>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select-container">
                <p>Van</p>
                <select name="translateOg" id="translateOg" (click)="changeSelect()" [(ngModel)]="translateOg">
                    <option value="taal">Taal herkennen</option>
                    <option value="mens">Mens</option>
                    <option value="labrador">Labrador</option>
                    <option value="poedel">Poedel</option>
                    <option value="parkiet">Parkiet</option>
                </select>
            </div>
            <div class="select-container">
                <p>naar</p>
                <select name="translateTo" id="translateTo" [(ngModel)]="translateTo">
                    <option value="labrador">Labrador</option>
                    <option value="poedel">Poedel</option>
                    <option value="parkiet">Parkiet</option>
                    <option value="papegaai">Papegaai</option>
                </select>
                <div class="">
                    <input name="drunk" type="checkbox" [(ngModel)]="drunk">Ik ben zo dronken!!!<br>
                </div>
            </div>

        </div>

        <button>Vertalen</button>

    </form>
</div>